body {
    font-family: Arial, sans-serif;
    /*background-image: url("control3.jpg");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(12, 12, 12);
    font-size: 50px;
    text-transform: uppercase;
    background-size: 20px;
    background-color: #9ba5aaa8;
    padding: 5px !important;
    border: 10px solid #ccc;
    border-radius: 10px;
    margin: 50px;
  }
  
  form {
      max-width: 800px !important;
      margin-left: 2cm; /* Ajusta el valor según tus preferencias */
      margin-right: 2cm; 
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  select {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .name-labels {
    display: flex;
    align-items: center;
  }
  
  .name-labels label {
    flex-basis: 50%;
  }
  
  .name-inputs {
    display: flex;
    align-items: center;
  }
  
  .name-inputs input {
    flex-basis: 50%;
    margin-left: 10px;
  }
  
  button {
    /* Estilos personalizados */
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #4285F4;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    /* Estilos personalizados */
    background-color: #3367D6;
  }
  
  h1.title {
    /* Estilos de Bootstrap */
    

    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    background-color: #4285F4;
    color: #ffffff;
    padding: 5px !important;
    border: 5px solid #a6b1b7;
    border-radius: 3px;
    
  }
  